.bg-white{
    background-color: white;
    color: gray;
}
.bg-blue{
    background-color: rgb(76, 104, 187);
    color: white;
}
.bg-gray{
    background-color: lightgray;
    color: #343a40;
}
h1{
    padding-top: 15px;
}
header h4{
    padding-bottom: 60px;
}
.paddingtop50{
    padding-top: 50px;
    padding-bottom: 25px;
}
.paddingtop25{
    padding-top: 25px;
    padding-bottom: 25px;
}
.paddingbottom20{
    padding-bottom: 20px;
}
